<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="apple-touch-icon" sizes="57x57" href="/images/indexImages/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/images/indexImages/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/indexImages/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/indexImages/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/indexImages/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/indexImages/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/images/indexImages/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/indexImages/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/indexImages/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/images/indexImages/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/indexImages/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/images/indexImages/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/indexImages/favicon-16x16.png">
<link rel="manifest" href="/images/indexImages/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/images/indexImages/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<meta charset="utf-8">
<link
	href="https://fonts.googleapis.com/css?family=Righteous&display=swap"
	rel="stylesheet">
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" media="screen" href="/index.css">
<title>Gamestudio</title>
</head>
<body>
	<h1>Welcome to Game studio!</h1>
	<div class=login th:if="${not @mainController.logged}">
		<span class=plog>Please login : &nbsp;&nbsp;&nbsp;&nbsp; <br /></span>
		<form action="/login">
			Login &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : <input type="text"
				name="name" /><br /> Password : <input type="password"
				name="passwd" /><br /> <input type="submit" value="Login" />
		</form>
	</div>
	<div class=login th:if="${@mainController.logged}">
		You are logged as &nbsp;&nbsp; <span id=player
			th:text="${@mainController.loggedPlayer.name}" /><a id=log href="/logout">Logout</a><br />
	</div>
	<h2>Choose your Game:</h2>
	<div class="container">
		<div class="row">
			<br />
			<div class="col-4">
				<a href="/puzzle"> Puzzle<img src="images/puzzle/15puzzle.jpg" /></a><br />
			</div>
			<div class="col-4">
				<a href="/mines"> Minesweeper<img src="images/mines/mines.jpg" /></a>
				<br />
			</div>
			<div class="col-4">
				<a href="/guessNumber"> GuessGame<img
					src="images/guess/guess.jpg" /></a> <br />
			</div>
		</div>
	</div>
	<div class="footer">
		<span>
			<h3>Testing site ! :-D</h3>
		</span>
	</div>
</body>
</html>